<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gunnar's Scratch Page</title>
    <link rel="stylesheet" href="scratch.css">
</head>
<body>
    <div class="nav">
        <a href="index.html">&larr; Back to Professional Resume Site</a>
    </div>

    <h1>My Passion: The Nordics</h1>
    
    <div class="content-box">
        <h3>Stockholm Inspiration</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hXbE2P-R4tQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>
        <p>The Swedish Flag:</p>
        <img src="https://upload.wikimedia.org/wikipedia/en/4/4c/Flag_of_Sweden.svg" width="150" alt="Sweden Flag" style="border: 1px solid #ccc;">
    </div>

    <div class="content-box">
        <h3>My Favorites</h3>
        <ol>
            <li>Cities
                <ul>
                    <li>Stockholm</li>
                    <li>Gothenburg</li>
                </ul>
            </li>
            <li>Foods
                <ul>
                    <li>Meatballs</li>
                    <li>Lingonberries</li>
                </ul>
            </li>
        </ol>
        <p>Jump to <a href="#tableau">Data Graph</a> (Anchor Link)</p>
    </div>

    <div class="content-box" id="tableau">
        <h3>Live Data (Tableau)</h3>
        <div class='tableauPlaceholder' id='viz1765482472322' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;24&#47;24healthstatsfeb25&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='24healthstatsfeb25&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;24&#47;24healthstatsfeb25&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1765482472322');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1520px';vizElement.style.height='882px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1520px';vizElement.style.height='882px';} else { vizElement.style.width='100%';vizElement.style.height='2627px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>

    <div class="content-box" style="text-align: center;">
        <h3>AI Web App</h3>
        <p>Check out the game I built:</p>
        <a href="game.html" class="button">Play Flower Catcher Game</a>
    </div>
</body>
</html>